name: Integration

on:
  push:
    branches:
      - master

jobs:

  build:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v2

    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: 13
        server-id: github
        settings-path: ${{ github.workspace }}

    - name: Build with Maven
      run: ./mvnw -B clean install --file pom.xml -P docker

  cucumber:
    needs: build
    runs-on: ubuntu-latest
    steps:

    - name: Checkout private tools
      uses: actions/checkout@v2
      with:
        repository: les-projets-cagnottes/les-projets-cagnottes.github.io
        token: ${{ secrets.GITHUB_IO_PAT }}
        path: les-projets-cagnottes.github.io

    - name: Build with Maven
      run: ./mvnw -B clean install --file pom.xml -P docker

  publish-docker:
    needs: build
    runs-on: ubuntu-latest
    steps:
    
    - uses: actions/checkout@v2

    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: 13
        server-id: github
        settings-path: ${{ github.workspace }}

    - name: Build with Maven
      run: ./mvnw -B clean install --file pom.xml -P docker

    - uses: sjdonado/heroku@0f16401029a67519b6547af7247983640996393a

    - name: Tag the image
      run: docker tag core:latest docker.pkg.github.com/les-projets-cagnottes/core/core:latest
    
    - name: Login to Registry
      run: docker login docker.pkg.github.com -u thomah -p ${{secrets.GITHUB_TOKEN}}

    - name: Publish to Registry
      run: docker push docker.pkg.github.com/les-projets-cagnottes/core/core:latest
  
  deploy-heroku:
    needs: publish-docker
    runs-on: ubuntu-latest
    steps:
    
    - uses: actions/checkout@v2

    - uses: sjdonado/heroku@0f16401029a67519b6547af7247983640996393a

    - name: Login to Registry
      run: docker login docker.pkg.github.com -u thomah -p ${{secrets.GITHUB_TOKEN}}

    - name: Pull Docker Image
      run: docker pull docker.pkg.github.com/les-projets-cagnottes/core/core:latest
    
    - name: Tag the image
      run: docker tag docker.pkg.github.com/les-projets-cagnottes/core/core:latest registry.heroku.com/les-projets-cagnottes-api/web
    
    - name: Get Heroku Tools
      run: wget -qO- https://toolbelt.heroku.com/install.sh | sh

    - name: Login to Heroku Registry
      run: echo "${{secrets.HEROKU_PASSWORD}}" | docker login -u "${{secrets.HEROKU_USERNAME}}" --password-stdin registry.heroku.com

    - name: Login to Heroku API
      run: heroku container:login
      env:
        HEROKU_API_KEY: ${{secrets.HEROKU_PASSWORD}}

    - name: Publish to Heroku Registry
      run: docker push registry.heroku.com/les-projets-cagnottes-api/web

    - name: Release Heroku app
      run: heroku container:release web --app les-projets-cagnottes-api
      env:
        HEROKU_API_KEY: ${{secrets.HEROKU_PASSWORD}}
